<?xml version="1.0"?>
<configuration>
  <!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  

  <!-- overrides <system.codedom> in machine.config -->
  <system.codedom>
    <compilers>
      <compiler extension=".vr" 
                language="avr;.vr" 
                type="ASNA.VisualRPG.CodeDom.AvrCodeProvider,ASNA.VisualRPG.CodeDom.Generator, Version=15.0.0.0, Culture=neutral, PublicKeyToken=2b47e0fbfa78bf56"
                compilerOptions="/compactds:+">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>



  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

</configuration>
